/* Import Philosopher and Lato font */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora|Playfair+Display:700i,900');

* {
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body, html {
  font-family: 'Philosopher', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  min-height: 100vh;
}
body > div {
  width: 100%;
}

h1 {
  font-size: 48px;
}