/* Import Philosopher font */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;
}

body, html {
  font-family: 'Philosopher', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 48px;
}